<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanou.mapper.AdminMapper">
    <resultMap id="adminMap" type="Admin">
        <id column="admin_id" property="adminId"/>
        <result column="name" property="name"/>
        <result column="admin_code" property="adminCode"/>
        <result column="password" property="Pwd"/>
        <result column="telephone" property="telephone"/>
        <result column="email" property="email"/>
        <result column="enrolldate" property="enrolldate"/>

        <collection property="roles" ofType="Role">
            <id column="role_id" property="roleId"/>
            <result column="role_name" property="roleName"/>
        </collection>

        <collection property="adminRoles" ofType="AdminRole">
            <id column="admin_id" property="adminId"/>
            <result column="role_id" property="roleId"/>
        </collection>
    </resultMap>

    <!--管理员角色map-->
    <resultMap id="adminRoleMap" type="AdminRole">
        <id column="admin_id" property="adminId"/>
        <result column="role_id" property="roleId"/>
    </resultMap>

    <!--权限map-->
    <resultMap id="moduleMap" type="Module">
        <id column="module_id" property="moduleId"/>
        <result column="module_name" property="moduleName"/>
    </resultMap>


    <resultMap id="roleModuleMap" type="RoleModule">
        <id column="role_id" property="roleId"/>
        <result column="module_id" property="moduleId"/>
    </resultMap>

    <resultMap id="roleMap" type="Role">
        <result column="role_id" property="roleId"/>
        <result column="role_name" property="roleName"/>

        <association property="module" javaType="Module">
            <id column="module_id" property="moduleId"/>
            <result column="module_Name" property="moduleName"/>
        </association>

        <association property="roleModule" javaType="RoleModule">
            <id column="role_id" property="roleId"/>
            <result column="module_id" property="moduleId"/>
        </association>
    </resultMap>


    <!--登录-->
    <select id="login" resultMap="adminMap">
        SELECT *
        FROM admin_info
        WHERE admin_code = #{adminCode} and password = #{Pwd}
    </select>

    <!--查询所有管理员-->
    <select id="findAllAdmin" resultMap="adminMap">
        SELECT
            a.admin_id                               admin_id,
            a.admin_code                             admin_code,
            a.password                               password,
            a.name                                   name,
            a.telephone                              telephone,
            a.email                                  email,
            a.enrolldate                             enrolldate,
            group_concat(ri.role_name SEPARATOR ',') role_name
        FROM admin_info a LEFT JOIN (admin_role ar, role_info ri)
                ON a.admin_id = ar.admin_id
                   AND ar.role_id = ri.role_id
            <where>
                <if test="value != 0">
                    AND a.admin_id = #{value}
                </if>
            </where>
        GROUP BY a.admin_id
    </select>

    <!--根据id查询名字-->
    <select id="findAdminName" resultMap="adminMap">
        SELECT *
        FROM admin_info
        WHERE admin_id = #{adminId}
    </select>

    <!--回显信息-->
    <select id="findAdminsById" resultMap="adminMap">
        SELECT *
        FROM admin_info
        WHERE admin_id = #{adminId}
    </select>

    <select id="findAdminRoleById" resultMap="adminRoleMap">
        SELECT *
        FROM admin_role
        WHERE admin_id = #{adminId}
    </select>

    <!--添加管理员-->
    <insert id="addAdmin" keyProperty="adminId" useGeneratedKeys="true">
        INSERT INTO admin_info (admin_id, admin_code, name, password, telephone, email, enrolldate)
        VALUES (#{adminId}, #{adminCode}, #{name}, #{Pwd}, #{telephone}, #{email}, #{enrolldate})
    </insert>

    <!--添加管理员角色-->
    <insert id="addAdminRole">
        INSERT INTO admin_role (admin_id, role_id) VALUES (#{param1}, #{param2})
    </insert>

    <!--修改角色-->
    <update id="updateA">
        UPDATE admin_info
        SET name = #{name}, telephone = #{telephone}, email = #{email}
        WHERE admin_id = #{adminId}
    </update>

    <!--删除管理员-->
    <delete id="deleteAdmin">
        DELETE FROM admin_info
        WHERE admin_id = #{adminId}
    </delete>

    <!--删除管理员角色-->
    <delete id="deleteAdminRole" parameterType="_int">
        DELETE FROM admin_role
        WHERE admin_id = #{param1}
    </delete>

    <!--查询所有权限-->
    <select id="findAllModule" resultMap="moduleMap">
        SELECT *
        FROM module_info
    </select>

    <!--=========================高级查询========================-->

    <!--通过权限id查询角色id-->
    <select id="findRoleIdByModuleId" resultMap="roleModuleMap">
        SELECT * FROM role_module WHERE module_id = #{value}
    </select>

    <!--通过角色id查询管理员id-->
    <select id="findAdminIdByRoleId" resultMap="adminRoleMap">
        SELECT * FROM admin_role WHERE role_id = #{value}
    </select>

    <!--通过角色名字查询角色id-->
    <select id="findroleIdByRoleName" resultMap="roleMap">
        SELECT * FROM role_info WHERE role_name LIKE #{value}
    </select>


    <!--<select id="findMouduleIdByAdminId" resultMap="">-->
        <!---->
    <!--</select>-->


</mapper>